extends layout

block content
  
  #mySidenav.sidenav
    a.closebtn(href='javascript:void(0)' onclick='closeNav()')
     p X 
    a(href="../")
     p Home
    a(href="#")
     p About
    a(href="#")
     p Contact
    
  .mobile-navbar
    .menuBackground
      i.fa.fa-bars(onclick='openNav()')
    .logoContainer
      img.resoltz-top-logo(src="../img/resoltz_new_mark-large.png")
  #navbar.tablet-navbar
    nav.tablet
      .resoltz-logo-large.top-nav
          img.resoltz-top-logo(src="../img/resoltz-new-log-vert-large.png")
      a.home-nav.top-nav(href="../")
        | HOME
      .about-nav.top-nav
        | ABOUT
      .health-nav.top-nav
        | HEALTH
      .coding-nav.top-nav
        | CODING
  .blog-post-wrapper
    .containerPost.container-small-screen
      - postDay = normalizeDay(entry.post_date)
      - postDayNum = normalizeDayNum(entry.post_date)
      - postMonth = normalizeMonth(entry.post_date)
      - postYear = normalizeYear(entry.post_date)
      .postInfo
        .postTitle
          h1= entry.title
          .titleUnderline
          .imageBox
            img.blogImages(src=entry.image_url)
          .imgDateSocialContainer
            .imgDateContainer
              img(src="/img/ceo.png")
              .dateBox
                span.postDay.date
                  p=postDay
                span.postDayNum.date
                  p=postDayNum
                span.postMonth.date
                  p=postMonth
          .socialIconsTagsContainer
            .socialIcons
             a(target="_blank" title="Follow me on Facebook" href="https://www.facebook.com/resoltz")
              i(class="fa fa-facebook")
             a(target="_blank" title="Follow me on Twitter" href="https://twitter.com/resoltz")
              i(class="fa fa-twitter")
             a(target="_blank" title="Follow me on Twitter" href="https://instagram.com/resoltz")
              i(class="fa fa-instagram")
            .tagsContainer
              p bodyweight, abs, core
          .blogEntry
            .blogEntryTitle
              h1= entry.title
            p= entry.blog_entry
            .blogEntryReadMore
               img.trainer-icon(src="../../img/resoltz_new_mark.png")
               a.span.read-more(href="http://www.instagram.com/resoltz") Workout with us
  .blog-post-wrapper
    .containerPost.container-large-screen
      - postDay = normalizeDay(entry.post_date)
      - postDayNum = normalizeDayNum(entry.post_date)
      - postMonth = normalizeMonth(entry.post_date)
      - postYear = normalizeYear(entry.post_date)
      .blogPostLeft
        .imgDateSocialContainer
          .imgDateContainer
            img(src="/img/ceo.png")
            .dateBox
              span.postDay.date
                p=postDay
              span.postDayNum.date
                p=postDayNum
              span.postMonth.date
                p=postMonth
        .socialIconsTagsContainer
          .socialIcons
           a(target="_blank" title="Follow me on Facebook" href="https://www.facebook.com/resoltz")
            i(class="fa fa-facebook")
           a(target="_blank" title="Follow me on Twitter" href="https://twitter.com/resoltz")
            i(class="fa fa-twitter")
           a(target="_blank" title="Follow me on Twitter" href="https://instagram.com/resoltz")
            i(class="fa fa-instagram")
          .tagsContainer
            p bodyweight, abs, core
      .postRight
        .postTitle
          h1= entry.title
        .imageBox
          img.blogImages(src=entry.image_url)
        .blogEntry
          p= entry.blog_entry
          .blogEntryReadMore
             img.trainer-icon(src="../img/resoltz_new_mark.png")
             a.span.read-more(href="http://www.instagram.com/resoltz") Workout with us
  .footer
    .contact
      h2 Contact    
      input.input-contact.input-email(type="text", placeholder="Email")      
      input.input-contact.input-message(type="text", placeholder="Message")     
      .button-footer.start-workout(href="#")
        Submit   
    .quick-links
      h2 Quick Links    
      a(href="#") About       
      a(href="#") Help       
      a(href="#") Terms       
      a(href="#") Privacy    
    .connect
      h2 Connect    
      .social-media-icons(href="#")
        .footer-social
          a(href="https://www.facebook.com/resoltz", target="_blank")
            i.fa.fa-facebook       
        .footer-social
          a(href="https://www.instagram.com/resoltz/", target="_blank")
            i.fa.fa-instagram
        .footer-social
          a(href="https://www.twitter.com/resoltz/", target="_blank")
            i.fa.fa-twitter  
      h5 © 2017 Resoltz Inc.
